
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
    <img src="http://s3-us-west-1.amazonaws.com/inventoryturbo/logonew1.png" width="300" height="50" class="img-responsive" alt="TurboLogo" />

       
<p id="notice"><%= notice %></p>

<h1>Inventory</h1>
<br>
    <%= render 'layouts/search' %>
</div>
</div>

<table class="table table-hover">

  <thead>
    <tr>
      <th>Company Name</th>
      <th>Part number</th>
      <th>Alt</th>
      <th>Description</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Cond code</th>
      <th>Part comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.user.company_name %> </td>
        <td><%= inventory.part_number %></td>
        <td><%= inventory.alternate_part_number %></td>
        <td><%= inventory.description %></td>
        <td><%= inventory.qty %></td>
        <td><%= inventory.price %></td>
        <td><%= inventory.condition_code %></td>
        <td><%= inventory.part_comments %></td>
        <td><%= link_to 'Details', inventory %></td>
        <% if inventory.user == current_user %>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Delete', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <div class="panel-footer">
 <%= link_to "Back", :back %>
</div>


