
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
    <img src="http://d3fwmhwfh9c00r.cloudfront.net/logonew1.png" width="300" height="50" class="img-responsive" alt="TurboLogo" />
<p id="notice"><%= notice %></p>
<h2>Inventory Item Detail</h2>
</div>
</div>
<br>


<p>
  <strong>Company Contact:</strong>
</p>

<p>
  <%= @inventory.user.company_name if @inventory.user.company_name  %>
</p>

<p>
  <%= @inventory.user.company_comment if @inventory.user.company_comment  %>
</p>

<p>
  <%= @inventory.user.company_sales_email if @inventory.user.company_sales_email  %>
</p>

<p>
  <%= @inventory.user.company_sales_phone if @inventory.user.company_sales_phone  %>
</p>

<hr>

<p>
  <strong>Part number:</strong>
  <%= @inventory.part_number %>
</p>

<p>
  <strong>Alternate part number:</strong>
  <%= @inventory.alternate_part_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inventory.description %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @inventory.qty %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<p>
  <strong>Condition code:</strong>
  <%= @inventory.condition_code %>
</p>

<p>
  <strong>Mfg code:</strong>
  <%= @inventory.mfg_code %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @inventory.serial_number %>
</p>

<p>
  <strong>Part comments:</strong>
  <%= @inventory.part_comments %>
</p>


<br>
  <div class="panel-footer">
 <%= link_to "Back", :back %> | <%= link_to 'Edit', edit_inventory_path(@inventory) %> | <%= link_to "Search", search_path %>
</div>
