
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
    <img src="http://d3fwmhwfh9c00r.cloudfront.net/logonew1.png" width="300" height="50" class="img-responsive" alt="TurboLogo" />

<h2>Add Inventory</h2>
</div>
</div>

<div class="panel-body">
 <br>
 <h3>csv upload</h3>

<p> chose a csv file to upload, required columns ajsfjh, lahfdh, ladfkdf *colums must be in order </p>

<%= form_tag import_inventories_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", name: nil, class: "btn btn-primary" %>

  </div>
 <br>
 <hr>
  
  <h3>manually add a single part</h3>
  
  <a class="btn btn-primary" href="inventories/new" role="button">add a part</a>
  </div>
  <br>
<% end %>
  <div class="panel-footer">
 <%= link_to "Back", :back %> | <%= link_to "Search", search_path %>
</div>