<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag 'http://s3-us-west-1.amazonaws.com/inventoryturbo/favicon-16x16.png' %>
    <title>InventoryTurbo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

	<%= render 'layouts/navbar' %>

  <div class="container">
    	<% flash.each do |name, msg | %>
    		<%= content_tag(:div,msg, class: "alert alert-info") %>
    	<% end %>
    	<%= yield %>

    </div>

  </body>
</html>
